[submodule "backend"]
	path = backend
	url = git@github.com:exhuma/bristow-flightlogs-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:exhuma/bristow-flight-logs-frontend.git
